<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Geen toegang</title>
    <link rel="stylesheet" th:href="@{/css/personeel.css}"></link>
</head>
<body>
<!-- login / logout button -->
<div th:replace="fragments::log"></div>

<!-- navigation bar -->
<nav th:replace="fragments::menu"></nav>

<!-- wrapper -->
<div class="content">

    <h1>U hebt geen toegang tot dezea pagina.</h1>

</div>

<!-- copyright banner -->
<div th:replace="fragments::copyright"></div>
</body>
</html>