
/**** delete arrows in number-input-field ***/

input[type=number] {
    -moz-appearance: textfield;
    /*appearance: textfield;*/
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/************************************************ genereral : for all pages ***/

body {
    font-family: Arial, "DejaVu Sans", Verdana;
    margin: 0 auto;
    width: 90%;
    padding: 1em;
    color: #390502
}


/*** all hyperlinks except for navigation menu (see next) & raise "button" (see below under classes)***/
a {
    color: maroon;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/*** navigation menu ***/

nav ul {
    background-color: maroon;
    border-radius: 15px;

    padding: 1em;
}

nav ul li {
    display: inline;
    padding: 5em 1em 0em 0em;
}

nav li a {
    color: white;
    font-weight: bold;
    padding-left: 0.5em;
    text-decoration: none;
    vertical-align: middle;
}

nav li a:hover {
    color: #F7FFCC;
}

/*** wrapping div on all pages ***/
.content {
    padding: 1em;
    border-radius: 15px;
    border: 1px solid maroon;
}

/*** all unordered list items except for data in hierarchy (see below under classes) ***/
ul li {
    text-indent: 0em;
    list-style-type: none;
    padding-bottom: 0.2em;
}

/*** all input fields have the same layout except for width (see below under ID) ***/
input, input:focus {
    border-radius: 7px;
    border: 1px solid maroon;
    outline: 0;
    padding: 0.5em;
    margin: 10px 0;
    box-sizing: border-box;
}

/*** all buttons have the same layout except for width and margin (see below under ID) ***/
button {
    background-color: maroon;
    color: white;
    font-weight: bold;
    padding: 0.5em;
    border-radius: 7px;
    border: 1px solid maroon;
    box-sizing: border-box;
}

button:hover{      /*** the same behaviour as hyperlinks ***/
    color: #F7FFCC;
    text-decoration: underline;
}

/*** login/logout buttons @ every page ***/
#log {
    width: 100%;
    text-align: right;
}

/*** copyright banner @ every page ***/
#copyright {
    width: 100%;
    background-color: maroon;
    color: white;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin: 1em 0;
    border-radius: 15px;
}


/************************************************ multiple - but not all - pages ************************************************ */

/*** unordered list items with bullet on pages index & jobTitles ***/
.withBullet {
    list-style-type: square;
}


/*** display form error messages : pages login & raise ***/
.error {
    display: inline-block;
    padding: 0 1em;
    color: maroon;
}


/************************************************ page : login ************************************************ */

#login input {
    width: 300px;
}

#login button {
    margin: 10px 0;
}




/************************************************ page : hierarchy ************************************************ */

/*** unordered list items, holding the labels & requested data ***/

#werknemer li {
    font-weight: bold;
}

#werknemer li.label {
    font-weight: lighter;
    padding-top: 0.6em;
}

/*** hyperlink "opslag" gets button-like layout ***/
.raiseButton {
    background-color: maroon;
    padding: 0.5em;
    border-radius: 7px;
    border: 1px solid maroon;
    box-sizing: border-box;
    width: 65px;
}

.raiseButton a {
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
}

.raiseButton a:hover{
    color: #F7FFCC;
    text-decoration: underline;
}

/*** display msg after successful raise ***/
.opslagSucces{
    display: inline-block;
    color: maroon;
    font-weight: bold;
    padding: 0 1em;
    border: 1px solid maroon;
    border-radius: 7px;
}



/************************************************ page : raise ************************************************ */


#opslag button {
    width: 65px;
}

#opslag input{
    width: 65px;
}

/************************************************ page : jobTitles ************************************************ */

#titels ul li {
    display: inline;
    padding: 5em 1em 0em 0em;
}








