/* selector : html elements */

body {
    font-family: Arial, "DejaVu Sans", Verdana;
    margin: 0 auto;
    width: 90%;
    padding: 1em;
    color: #390502
}

a {
    color: maroon;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav ul {
    background-color: maroon;
    padding: 1em;
}

nav ul li {
    display: inline;
    padding: 5em 1em 0em 0em;
}

nav li a {
    color: white;
    font-weight: bold;
    padding-left: 0.5em;
    text-decoration: none;
    vertical-align: middle;
}

nav li a:hover {
    color: #F7FFCC;
}



dl dd {
    font-weight: bold;
    text-indent: unset;
    padding: 0.5em 0em;
}

ul li {
    text-indent: 0em;
    list-style-type: none;
    padding-bottom: 0.2em;
}
/* selector : classes */

.content {
    padding: 1em;
    border: 1px solid maroon;
}

.button{
    display: inline-block;
    background-color: maroon;
    padding: 0.5em;
}

.button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.werknemerData {
    font-weight: bold;
    padding-top: 0.6em;
}

.withBullet {
    list-style-type: square;
}


.error {
    color: maroon;
}




/* selector : attribuut ID */

#log {
    width: 100%;
    text-align: right;
}

#log button {
    background-color: maroon;
    color: white;
    font-weight: bold;
    padding: 0.5em;
    border: none;
}

/*#login{*/
/*    text-align: center;*/
/*}*/

#login input {
    padding: 0.5em;
    border: 1px solid maroon;
    width: 300px;
    margin: 10px 0;
    box-sizing: border-box;
}

#login button {
    background-color: maroon;
    color: white;
    font-weight: bold;
    padding: 0.5em;
    border: none;
    box-sizing: border-box;
    margin: 10px 0;
}