

<head th:fragment="head(title)" xmlns:th="http://www.thymeleaf.org">
    <link rel="icon" th:href="@{/img/personeel.ico}" type="image/x-icon">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/personeel.css}">
</head>

<!-- navigation bar on every page -->
<!-- show link to hierarchy only to authenticated users -->
<nav  th:fragment="menu" xmlns:th="http://www.thymeleaf.org">
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/hierarchy}">Werknemershi&euml;archie</a></li>
        <li><a th:href="@{/jobTitles}">Jobtitels</a></li>

    </ul>
</nav>

<!-- login / logout button on every page (except for login page), top right -->
<!-- show either the log in or the log out button, depending on whether the user is authenticated or not -->
<div id="log" th:fragment="log" xmlns:th="http://www.thymeleaf.org">
        <form method="get" th:action="@{/login}">
            <button  sec:authorize="isAnonymous()"></span> Aanmelden</button>
        </form>
        <form method="post" th:action="@{/logout}">
            <button  sec:authorize="isAuthenticated()">Afmelden</button>
        </form>
</div>

<!-- copyright banner on every page -->
<div id="copyright" th:fragment="copyright" xmlns:th="http://www.thymeleaf.org">
    <p>Maren Smeets &copy; VDAB 2020</p>
</div>

