<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments::head(title='Werknemershi&euml;rarchie')"></head>
<body>
<!-- login / logout button -->
<div th:replace="fragments::log"></div>

<!-- navigation bar -->
<nav th:replace="fragments::menu"></nav>

<!-- wrapper -->
<div class="content">
    <h1 th:if="${werknemer} == null">Werknemer niet gevonden.</h1>

    <div id="werknemer" th:if="${werknemer} != null" th:object="${werknemer}">
        <h1 th:text="*{getFullName()}"></h1>
        <ul>
            <li class = "label">Voornaam</li>
            <li th:text="*{voornaam}" ></li>
            <li class = "label">Familienaam</li>
            <li th:text="*{familienaam}"></li>
            <li class = "label">Email adres</li>
            <li th:text="*{email}"></li>
<!-- display msg after successfully applying a raise -->
            <p th:if="${param.opslagSucces} != null" class="opslagSucces"></br>Opslag succesvol doorgevoerd </br></br></p>
<!-- after successfully applying a raise, the word "nieuw" is added before label "salaris" -->
            <li class = "label"><span th:if="${param.opslagSucces}!=null">Nieuw </span>Salaris</li>
            <li th:text="*{#numbers.formatDecimal(salaris, 0, 'POINT', 2, 'COMMA')}"></li>
            <li class = "label">Jobtitel</li>
            <li th:text="*{jobtitel.getNaam()}"></li>
            <li class = "label">Geboorte</li>
            <li th:text="*{#temporals.format(geboorte, 'dd-MM-yy')}" ></li>
            <li th:if="${werknemer.chef} != null"  class = "label">Chef</li>
            <li th:if="${werknemer.chef} != null" th:object="${werknemer.chef}">
                <a th:href="@{/hierarchy/{id}(id=*{id})}" th:text="*{getFullName()}"></a>
            </li>
<!-- for every subordinate of this employee, a <li> item is created, holding a hyperlink <a> to show the data of the specific subordinate -->
            <li class = "label">Ondergeschikten</li>
            <li th:each="ondergeschikte:${werknemer.getOndergeschikten()}" th:object="${ondergeschikte}">
                <a th:href="@{/hierarchy/{id}(id=*{id})}" th:text="*{getFullName()}"></a>
            </li>
            <li class = "label">Foto</li>
            <li>
                <img th:src="@{/img/{id}.jpg(id=*{id})}" th:alt="*{getFullName()}">
            </li>
<!-- the hyperlink to page raise has the same layout as buttons -->
            <li class = "raiseButton">
                <a th:href="@{/raise/{id}(id=*{id})}">Opslag</a>
            </li>
        </ul>

    </div>
</div>

<!-- copyright banner -->
<div th:replace="fragments::copyright"></div>

</body>
</html>