<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments::head(title='Login')"></head>
<body>

<!--<div th:replace="fragments::log"></div>-->
<nav th:replace="fragments::menu"></nav>
<div id="login" class="content">

<h1>Aanmelden</h1>


<form  th:action="@{/login}" method="post">

    <input name="username" type="email" required autofocus placeholder="email"></br>
    <input name="password" type="password" required placeholder="paswoord"></br>
    <button>Aanmelden</button><span th:if="${param.error} != null" class="error" th:text="${param.error}">
    V</span>
</form>


</div>
</body>
</html>